body {
  background-color: black;
}
:not(a) {
  color: white;
}
a {
  color: #7777ff;
}
main {
  text-align: center;
  font-family: sans-serif;
}
dl {
  width: max-content;
  margin: auto;
  list-style-type: circle;
  text-align: left;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
dt dd {
  display: block;
}
dt:before, dd::before {
  content: "• ";
}
p {
  width: 80%;
  margin: auto;
}